body {
  font-family:Arial;
}
.HomeLayout {
  display: flex;
  flex-direction: column;
  align-items: "center";
  margin: 0;
}

.Header {
  flex: 1;
}

.Contenido {
  flex: 0.5;
  flex-direction: row;
}

.toolbar{
  height: 70px;
  box-shadow: 1px 1px 5px grey;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.logo{
  height: 45px;
  width: 200px;
  object-fit: contain;
}