.ProgressBar {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #000;
  border-radius: 4px;
}

.ProgressBar input {
  width: 95%;
}

.title-tag {
  font-size: 14px;
  font-weight: bolder;
}
