  .ListContainer {
  background-color: #a5deff;
  padding: 10px;
  color: #0487d3;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.ButtonContainer {
  margin-bottom: 10px;
}

.VideoListContainer {
  border: 1px solid

}

.VideosContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.VideoNameContainer {
  width: 100%;
  padding: 5px;
}

.VideoActions {
  width: 20%;
  float: left;
}
.VideoName {
  width: 80%;
  float: left;
}

.ClipChildren {
  padding-top: 10px;
  padding-bottom: 10px;
}


.ClipChildren2 {
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #e0e0e0;
  margin-bottom: 5px;
  padding: 5px;
  justify-content: space-between;
}

.ClipBtn {
  padding-left: 5px;
}

.clipName{
  max-width: 200px;
  overflow: hidden;
}
.clipAction{
  height: 16px;
  width: 16px;
  object-fit: contain;
  margin-left: 8px;
}
