body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito',sans-serif;
  min-height: 100vh;
}

p{
	font-family: 'Nunito'; 
	margin-bottom: 0px;
}

.opacity{
	transition-duration: 0.3s;
}

.opacity:hover{
	cursor: pointer;
	opacity: 0.4;
}

#root{
	min-height: 100vh;
}

.row-cont{
	display: flex;
	flex-direction: row;
}

.content-flex{
	flex-grow: 1;
	flex-basis: 0;
	padding: 20px;
	display: flex;
	justify-content: center;
	
}

.side-bar{
	min-width: 320px;
	padding: 16px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #e0e0e0;
	min-height: 100%
}
.container{
	flex-basis: 0;
	flex-grow: 1;
	margin-right: 0px;
	margin-left: 0px;
	align-self: center;
	width: 100%;
}

.font-bold{
	font-weight: 700;
}